body {
    padding: 0;
    margin: 0;
    background: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*----------Navbar Customization----------*/
/*---Notes: the 110.100.105.9 rgb = 6e6964*/
.navbar-custom {
    background: #f9f9f9;
    font-weight: bold;
}

.navbar-custom .navbar-text {
    color: rgb(110,100,105,0.9);
}

.navbar-custom .navbar-nav .nav-link {
    color: rgb(110,100,105,0.9);
}

.navbar-custom .nav-item.active .nav-link {
    color: #F56600;
}

.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #F56600;
}

.navbar-custom .navbar-toggler-icon {
    background-image:url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(110, 105, 100)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

/*-----------Text Styling-----------*/

h2, h3, h4 {
    color: #522D80;
}

p {
    color: #6e6964;
}

/* Spacing test */
/* @media (min-width: 768px){
    .forceTfive {
        width: 25px !important;
    }} */

/*==============Home Page CSS===============================*/

/*Overlay Mask - Included in Code Citation*/
.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
    background: rgba(231, 128, 25, 0);
}

/*-------Team Picture and Icons-----*/
.caption {
    position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
    color: #ffffff
}

/*-----------GitHub Icon for Homepage*/
.gitHub {
    background: url("images/github-logo-small-gray.svg");
    height: 1.55rem;
    width: 1.55rem;
    display: block;
    margin-left: 15%;
}

.gitHub:hover {
    background: url("images/github-logo-small-orange.svg");
    height: 1.55rem;
    width: 1.55rem;
    display: block;
    margin-left: 15%;
}

.banner-container {
    background: url("images/people-page-imgs/no-picture-banner.svg");
    width: 100%;
    height: 150px;
}

.banner-text h2 {
    color: #ffffff;
}

.footer-container {
    background: #f9f9f9;
    width: 100%;
    height: 100px;
    position: relative;
}

.footer-text {
    color: rgb(110,100,105,0.68);
    font-size: 10pt;
}

.text-copy a {
    color: #F56600;
}

.text-copy a:hover {
    color: #F56600;
    text-decoration-line: none;
}


/*==============People Page CSS==========================*/

.section-text {
    color: #522D80;
}

.bios a {
    color: #522D80;
}

.bios a:hover {
    color: #F56600;
    text-decoration-line: none;
}

/*==============Publications Page CSS====================*/

.dropdown-year h3 {
    color: #522D80;
}

.dropdown-year a {
    color: #522D80;
    text-decoration-line: none;
}

.dropdown-year a:hover {
    color: #522D80;
    text-decoration-line: none;
}

.dropdown-publicas1, .dropdown-publicas2, .dropdown-publicas3, .dropdown-publicas4, .dropdown-publicas5, .dropdown-publicas6, .dropdown-publicas7 {
    display: block;
    opacity: 1;
    transition: all 0.6s ease-out;
}

.hide {
    transition: all 0.6s ease-out;
    opacity: 0;
}

.bttn19, .bttn18, .bttn17, .bttn16, .bttn15, .bttn14, .bttn20, .bttn22 {
    -moz-transition: tranform .4s;
    -webkit-transition: transform .4s;
    transition: transform .4s;
}

.closedBttn1, .closedBttn2, .closedBttn3, .closedBttn4, .closedBttn5, .closedBttn6, .closedBttn7 {
    transform: rotate(-180deg);
    filter: inverst(.5);
}
