body {
    padding: 0;
    margin: 0;
    background: #ffffff;
}

/*----------Navbar Customization----------*/
/*---Notes: the 110.100.105.9 rgb = 6e6964*/
.navbar-custom {
    background: #f9f9f9;
    font-weight: bold;
}

.navbar-custom .navbar-text {
    color: rgb(110,100,105,0.9);
}

.navbar-custom .navbar-nav .nav-link {
    color: rgb(110,100,105,0.9);
}

.navbar-custom .nav-item.active .nav-link {
    color: #d19354;
}

.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #d19354;
}

.navbar-custom .navbar-toggler-icon {
    background-image:url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(110, 105, 100)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

/*-----------Text Styling-----------*/
h2 {
    color: #d19354;
}

h3 {
    color: #d19354;
}

p {
    color: #6e6964;
}

/*==============Home Page CSS===============================*/

/*Overlay Mask - Included in Code Citation*/
.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
    background: rgba(231, 128, 25, 0.68);
}

/*-------Team Picture and Icons-----*/
.caption {
    position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
    color: #ffffff
}

/*-----------GitHub Icon for Homepage*/
.gitHub {
    background: url("images/github-logo-small-gray.svg");
    height: 1.55rem;
    width: 1.55rem;
    display: block;
    margin-left: 15%;
}

.gitHub:hover {
    background: url("images/github-logo-small-orange.svg");
    height: 1.55rem;
    width: 1.55rem;
    display: block;
    margin-left: 15%;
}

.banner-container {
    background: url("images/people-page-imgs/no-picture-banner.svg");
    width: 100%;
    height: 150px;
}

.banner-text h2 {
    color: #ffffff;
}

.footer-container {
    background: #f9f9f9;
    width: 100%;
    height: 100px;
}

.footer-text {
    color: rgb(110,100,105,0.7);
    font-size: 10pt;
}

/*==============People Page CSS==========================*/

.section-text {
    color: #d19354;
}

/*==============Publications Page CSS====================*/

.dropdown-year h3 {
    color: #d19354;
}

.dropdown-year a {
    color: #d19354;
    text-decoration-line: none;
}

.dropdown-year a:hover {
    color: #6e6964;
    text-decoration-line: none;
}

.dropdown-publicas1, .dropdown-publicas2, .dropdown-publicas3, .dropdown-publicas4, .dropdown-publicas5, .dropdown-publicas6 {
    display: block;
}